@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
body{
    max-width: 1600px;
    margin: auto;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

/* share class */
 .p-text{
            color: #D9D9D9;
            font-size: 16px;
            line-height: 24px;
        }

nav{
    margin: 30px 200px;
}
.menu{
    display: none;
}
/* baner */
.baner{
        background-image: url('./assets/hero-circle.png'),url('./assets/hero-bg.png');
        background-repeat: no-repeat;
        background-size: auto,cover;
        background-position: top center,center center;
        text-align: center;
        
       }
       .image{
        margin: auto ;
        padding: 77px 0 137px ;
        
       }
       /* about */
       .about-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
       }
       /* why */
.why-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
}
.why-main-container{
    padding: 120px 200px;
}
.why-main{
    padding: 112px 40px;
}
       /* feature */
       .feature-container{
margin: 120px 200px;
       }
.vidio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
/* host */
.host-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
    align-items: center;
    background: #351165;
    padding: 40px 48px;
    border-radius: 40px;
}

.host-main{
    margin: 120px 200px;
}

.social-button{
    display: flex;
    gap: 8px;
}
        @media screen and (max-width: 576px) {
            .hide{
                display: none;
            }
            nav{
                margin: 20px ;
            }
            .baner-img{
             display: flex;
             justify-content: space-between;

            }
            .menu{
                display: block;
            }
            .menu img{
                
                width: 50px;
                height: 30px;
            }
            /* baner */
            .baner{
                  background-size:auto , auto;
            }

            .about-container{
                grid-template-columns: repeat(2,1fr);
                margin: 20px;
                /* gap: 50px; */
            }
            /* why */
            .why-container{
                grid-template-columns: repeat(1,1fr);
                grid-template-rows: repeat(1,1fr);
            }
            .why-main-container{
    padding: 20px;;
}
            .feature-container{
margin: 20px;
       }
       .vidio-container{
    
    grid-template-columns: repeat(1,1fr);
    
}
.why-main{
    padding: 20px;
}

.host-main{
    margin: 20px;
    text-align: center;
}
.host-img{
 margin-left: 25px;
}
.host-main h1{
    padding-top: 60px;
}
.host-container{ 
    grid-template-columns: repeat(1,1fr);
}
.social-button{
    justify-content: space-between;
}
        }


        @media screen and (min-width: 576px) and (max-width: 992px) {
            .menu{
                display: block;
            }
             .hide{
                display: none;
            }
             .menu img{
                
                width: 50px;
                height: 40px;
            }
            nav{
                margin: 20px 50px  ;
            }
             .why-container{
                grid-template-columns: repeat(3,1fr);
                grid-template-rows: repeat(1,1fr);
               
            }
            .why-main{
    padding: 50px 40px;
     width: 250px;
}
             .feature-container{
margin: 20px 50px  ;
       }
      
.why-main-container{
    padding: 120px 50px;
}
.host-container{
    grid-template-columns: repeat(4,1fr);
}
.host-main{
    margin: 120px 50px;

}
        }